{% extends 'base.html.twig' %}

{% block title %}Screening index{% endblock %}

{% block body %}
    <h1>Screening index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Vf</th>
                <th>Subtitled</th>
                <th>Movie</th>
                <th>Room</th>
                {# <th>CreatedAt</th>
                <th>UpdatedAt</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for screening in screenings %}
            <tr>
                <td>{{ screening.id }}</td>
                <td>{{ screening.time ? screening.time|date('Y-m-d H:i') : '' }}</td>
                <td>{{ screening.vf ? 'Yes' : 'No' }}</td>
                <td>{{ screening.subtitled ? 'Yes' : 'No' }}</td>
                <td>{{ screening.movie.title }}</td>
                <td>{{ screening.room.number }}</td>
                {# <td>{{ screening.createdAt ? screening.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ screening.updatedAt ? screening.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('screening_show', {'id': screening.id}) }}">show</a>
                    <a href="{{ path('screening_edit', {'id': screening.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('screening_new') }}">Create new</a>
{% endblock %}
